# Python & Environment
__pycache__/
*.pyc
venv/
.env

# Mac OS Garbage
.DS_Store

# Datasets (Too large for Git)
images/
annotations/
VOCdevkit/
*.tar.gz

# We ignore these because prepare_data.py generates them fresh
*_list.txt

# Model Weights (Large Binaries)
# Git blocks files >100MB. Weights should be generated, not stored.
checkpoints/
*.pth

# Experiment Tracking Logs
wandb/

# IDE & Notebook Metadata
.ipynb_checkpoints
.vscode/
.idea/